.ivu-menu{
    display: flex;
    justify-content: center;
}
.ivu-layout{
    /* height: 100%; */
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu{
    flex: 1;
}
